*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html.light{
    --background: #95daf5;
     --main: rgba(149,218,245,0.5);
    --color: #8f808a;
 }
 html.dark{
    --background: black;
     --main: rgba(0,0,0,0.75);
     --color: white;
 }
 html.backendless{
     --background: tomato;
     --main: rgba(255,99,71,0.75);
     --color: white;
 }
body{
    color: var(--color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    padding: 0 15px;
    max-width: 1430px;
    margin: auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Header*/
header{
    background-color: var(--background);
    height: 50px;
    line-height: 50px;
    flex: 0 0 auto;
}
header .logo{
    color: var(--color);
    font-size: 24px;
    font-weight: 700;
    transition: opacity 0.3s ease-in, text-shadow 0.3s ease-in;
}
header .logo:hover{
    text-shadow: 1px 0 3px;
    opacity: 0.8;
}
header form{
    display: flex;
}
header form div + div {
    margin-left: 15px;
}
form.desktop input{
    display: none;
}
form.desktop input:checked + label{
    border-bottom: 3px solid white;
    padding-bottom: 11px;
}
form.desktop label{
    cursor: pointer;
}
form.mobile select{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    border: 1px solid var(--color);
    border-radius: 5px;
    color: var(--color);
    background-color: var(--main);
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 3px;
}
form.tablet button{
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--color);
    color: var(--color);
    display: inline-block;
    padding: 10px 5px;
    transition: opacity 0.4s ease-in;
}
form.tablet button:hover{
    opacity: 0.8;
}
form.tablet button + button{
    margin-left: 15px;
}
/*Main*/
main{
    flex: 1 1 auto;
    padding: 20px 0;
    background-color: var(--main);
}
main h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    animation: text 3s infinite;
}
section.gallery{
    display: grid;
    grid-gap: 15px;
    grid-template-areas:
    'item1 item1 item1 item2'
    'item1 item1 item1 item3'
    'item1 item1 item1 item4'
    'item5 item6 item7 item8'
    'item9 item10 item10 item10'
    'item11 item10 item10 item10'
    'item12 item10 item10 item10';
}
/*Grid-areas*/
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}
.item5{
    grid-area: item5;
}
.item6{
    grid-area: item6;
}
.item7{
    grid-area: item7;
}
.item8{
    grid-area: item8;
}
.item9{
    grid-area: item9;
}
.item10{
    grid-area: item10;
}
.item11{
    grid-area: item11;
}
.item12{
    grid-area: item12;
}
.gallery_item:hover img{
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--color);
}
.gallery_item{
    cursor: pointer;
}
section img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
main section + section{
    margin-top: 15px;
}
/*Modal*/
.popup {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:none;
    text-align:center;
}
.popup_bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
}
.popup_img {
    position: relative;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1000px;
    max-height: 600px;
    width: 100%;
}
/*footer*/
footer{
    background-color: var(--background);
    height: 50px;
    line-height: 50px;
    flex: 0 0 auto;
}
footer .info a, footer .social a{
    color: var(--color);
    font-size: 20px;
    transition: color 0.3s ease-in, transform 0.3s ease-in;
}
footer .social a:hover i{
    color: #cecccd;
    transform: scale(1.1);
}
footer .info li + li{
    margin-left: 15px;
}
footer .social li + li{
    margin-left: 10px;
}
/*media query*/
@media screen and (min-width:1080px){
    .mobile{
        display: none;
    }
    .tablet{
        display: none;
    }
}
@media screen and (max-width:1079px) {
    .mobile{
        display: none;
    }
    .desktop{
        display: none;
    }
}
@media screen and (max-width:768px){
    section{
        grid-template-areas:
    'item1 item1 item2'
    'item1 item1 item3'
    'item4 item4 item5'
    'item4 item4 item6'
    'item7 item7 item8'
    'item7 item7 item9'
    'item10 item10 item11'
    'item10 item10 item12';
    }
}
@media screen and (max-width:639px){
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    .mobile{
        display: block;
    }
    section{
        grid-gap: 10px;
        grid-template-areas:
    'item1 item1 item1'
    'item2 item3 item4'
    'item5 item5 item5'
    'item6 item7 item8'
    'item9 item9 item9'
    'item10 item11 item12';
    }
    main h1{
        font-size: 19px;
    }
    main section + section{
        margin-top: 10px;
    }
    footer{
        line-height: 25px;
    }
    footer nav.d-flex{
        flex-direction: column;
        align-items: center;
    }
    footer .info a, footer .social a{
        font-size: 18px;
    }
}
@keyframes text{
    0%{
    }
    25%{
        transform: scale(1.05);
        letter-spacing: 5px;
    }
    50%{
        text-shadow: 0 2px 5px;
    }
}